@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('/assets/fonts/FiraSans-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('/assets/fonts/FiraSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('/assets/fonts/FiraSans-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('/assets/fonts/FiraSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('/assets/fonts/NotoSerif-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('/assets/fonts/NotoSerif-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('/assets/fonts/NotoSerif-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('/assets/fonts/NotoSerif-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*------*/
/*-- Variables --*/
:root {
    --negro: #0A0A0A;
    --blanco: #FAFAFA;
    --gris: #F1F1F1;
    --gris-oscuro: #989898;

    --verde-lighter: #E9FFE4;
    --verde-light: #DBFFB8;
    --verde-normal: #83D270;
    --verde-dark: #408E2D;
    --verde-darker: #2E6420;
    --veder-degradado: linear-gradient(96deg, #408E2D 49.92%, #000 119.72%);

    --morado-lighter: #FFEFEF;
    --morado-light: #FFBABA;
    --morado-normal: #C85C8E;
    --morado-dark: #9D3C72;
    --morado-darker: #7B2869;
    --morado-degradado: linear-gradient(180deg, #C85C8E 0%, #9D3C72 34.9%, #7B2869 100%);

    --exito-oscuro: #15803D;
    --exito-claro: #F0FDF4;
    --warning-oscuro: #A16207;
    --warning-claro: #FEFCE8;
    --error-oscuro: #B91C1C;
    --error-claro: #FEF2F2;

    /* Text-size styles */
    /* base size: texto-general (18px) */
    --titulo-xl: 4.8rem;
    --titulo-l: 3.6rem;
    --titulo-m: 2.4rem;
    --titulo-pequeno: 1.8rem;
    --texto-general: 1.6rem;
    --text-pequeno: 1.4rem;

    /* Effect styles */
    --sombra-boton: 8px 8px 4px rgba(0, 0, 0, 0.25);
    --sombra-avatar: 8px 8px 4px rgba(0, 0, 0, 0.5);
    --sombra-tarjeta: 10px 10px 4px rgba(0, 0, 0, 0.1);


    /* Medidas variables */
    --padding-lateral: 6.4rem;
}

/*--- GENERALES ---*/
html {
    font-size: 10px;
    display: grid;
    justify-content: center;
    background-color: var(--gris);
    line-height: 1.4;
}

body {
    max-width: 1440px;
    background-color: var(--blanco);
    font-family: 'Poppins', sans-serif;
    font-size: var(--texto-general);
    z-index: 1;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

/*--Estilo botones--*/
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--verde-light);
    text-align: center;
    font-family: Poppins;
    background: var(--verde-darker);
    font-weight: 700;
    padding: 1rem 1.5rem;
    box-shadow: var(--sombra-boton);
    border-radius: 0.5rem;
    max-width: 26rem;
}

.btn:hover,
.btn:focus {
    background: var(--veder-degradado);
}

.btn:focus {
    box-shadow: none;
}

.btn.btn-sec,
.btn.btn-sec:hover,
.btn.btn-sec:focus {
    background: var(--verde-lighter);
    color: var(--verde-darker);
}

.btn.btn-sec:hover,
.btn.btn-sec:focus {
    outline: 3px solid var(--verde-darker);
}

.btn-nav {
    color: var(--verde-darker);
    background-color: var(--blanco);
}

.btn-nav:hover,
.btn-nav:focus {
    background: var(--blanco);
    color: var(--verde-darker);
    outline: 3px solid var(--verde-darker);
    outline-offset: 0;
}

.btn-tab {
    color: var(--morado-darker);
    background: transparent;
    transition: background-color 0.2s ease-in-out;
    box-shadow: none;
    font-size: 2rem;

}

.btn-tab:hover,
.btn-tab:focus {
    color: var(--morado-darker);
    background: var(--morado-lighter);
    box-shadow: none;
}

.btn-tab:focus {
    outline: 2px solid var(--morado-darker);
}

.btn-tab.actual {
    border-bottom: 3px solid var(--morado-darker);
}

/*--- NAVBAR ---*/
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.primera-cabecera {
    padding: 1.6rem var(--padding-lateral);
    background-color: var(--morado-normal);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2.4rem;
}

.redes-sociales {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: .8rem;
}

.redes-sociales a {
    display: block;
    position: relative;
    ;
    border-radius: 50%;
    background-color: var(--blanco);
    width: 35px;
    height: 35px;
}

.botones-sesion {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 1.6rem;
}

@media (max-width: 600px) {
    .primera-cabecera {
        justify-content: center;
    }
}

.segunda-cabecera {
    display: flex;
    gap: 2.4rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem var(--padding-lateral);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.contenedor-logo {
    display: block;
    max-width: 175px;
}

.tabs-nav {
    display: flex;
    flex-wrap: nowrap;
}

@media (max-width: 650px) {
    .segunda-cabecera {
        justify-content: center;
    }
}

/*--- CONTENEDOR PRINCIPAL: MAIN ---*/
main {
    display: grid;
    justify-content: center;
    padding: 3.2rem var(--padding-lateral);
    gap: 4.8rem;
}

/*---- Títulos ---*/

h1, h2, h3, h4, h5, h6, p {
    margin: 0;

}

.titulo-xl,
.titulo-l,
.titulo-m {
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    color: var(--morado-darker);
}

.titulo-xl {
    font-size: var(--titulo-xl);
}

.titulo-l {
    font-size: var(--titulo-l);
}

.titulo-m {
    font-size: var(--titulo-m);
}

.titulo-tarjeta {
    font-size: 1.8rem;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}

.subtitulo {
    font-family: 'Fira Sans', sans-serif;
    font-size: var(--titulo-m);
    font-weight: bold;
}

.text-pequeno {
    font-size: var(--text-pequeno);
}

.enfasis {
    color: var(--morado-dark);
}

.centrado {
    text-align: center;
}

/*-- CLASES GENERALES ---*/
img.img-ancho-completo {
    max-width: 850px;
}

/*--- Composiciones ---*/

/*-- Contenedor Fotos de perfiles --*/
.foto-miembro {
    display: flex;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: var(--sombra-avatar);
    justify-content: center;
    align-items: center;
}

/*-- Encabezado seccion --*/
.encabezado-seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.6rem;
    align-items: center;
}

/*-- Columna-50: Para composiciones a dos columnas con el mismo peso --*/
.columna-50 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.4rem;
}

.columna-50 .col-izq,
.columna-50 .col-der {

    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}


/*---*/

/*-- ELEMENTOS --*/
/*HR*/
hr {
    background-image: url(/assets/img/separador.svg);
    width: 100%;
    height: 4px;
    background-repeat: round;
    border: 0;
    background-size: cover;
}

/*--- Secciones ---*/

.section-home {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 4.8rem;
    justify-content: center;
}

.hero .col-izq {
    flex-basis: 0;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.hero .col-der {
    flex-basis: 250px;
    flex-grow: 1;
    flex-shrink: 1;
}

#boton-cta {
    position: relative;
}

#boton-cta:before {
    opacity: 0;
    content: "";
    background-color: var(--verde-light);
    position: absolute;
    width: 120%;
    height: 160%;
    z-index: -1;
    border-radius: 13px;
}

#boton-cta:not(:hover, :focus):before {
    animation: resaltadoCTA 1s ease-in-out 0.5s infinite alternate;
}

#boton-cta:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(/assets/img/flecha_apuntar_cta.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    right: -72px;
    top: -34px;
    transform: rotate(-196deg);
    animation: flechaCTA 1s ease-in-out 0.5s infinite alternate;
}

/*--- Quienes somos --*/
.quienes-somos h2 {
    width: 100%;
    text-align: center;
}

.servicio-quienes-somos {
    padding: 1.6rem;
    color: var(--morado-darker);
    border-radius: 5px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    background-color: var(--gris);
}

/*--- Nuestro equipo*/
.tarjetas-nuestro-equipo {
    display: flex;
    flex-wrap: wrap;
    gap: 4.8rem;
    justify-content: center;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2.4rem;
    padding: 4.8rem 2.4rem;
    background-color: var(--morado-lighter);
    border-radius: 5px;
    position: relative;
    max-width: 250px;
    box-shadow: var(--sombra-tarjeta);
    flex-basis: 190px;
    flex-grow: 1;
}

.tarjeta .tipo {
    background-color: var(--morado-darker);
    color: var(--blanco);
    font-family: 'Fira Sans';
    font-weight: bold;
    text-align: center;
    display: block;
    width: fit-content;
    padding: 0.5rem 1.6rem;
    border-radius: 0 0 5px 5px;
    min-width: 110px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.tarjeta .contenedor-texto {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.8rem;
}

/*--- Testimonios HOME ---*/
.tarjeta-testimonio {
    display: flex;
    padding: 2.4rem 3.6rem;
    justify-content: center;
    align-items: flex-start;
    gap: 2.4rem;
    border-radius: 8px;
    background-color: var(--morado-lighter);
    box-shadow: var(--sombra-tarjeta);
    flex-basis: 0;
    flex-grow: 1;
}

.contenedor-valoracion {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.8rem;
}

.contenedor-valoracion img {
    width: 30px;
}

.nombre-valoracion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    align-self: stretch;
}

.tarjeta-testimonio .col-izq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    flex: 1 0 0;
}

img.img-comillas {
    width: 3.3rem;
}

.tarjeta-testimonio .col-der {
    display: flex;
    gap: 1.6rem;
    flex-direction: column;
    align-items: center;
}

/*--- Nuestros planes HOME ---*/
.tarjeta-plan-home {
    padding: 1.6rem;
    background-color: var(--gris);
    box-shadow: var(--sombra-tarjeta);
    border-radius: 5px;
    gap: 2.4rem;
    align-items: center;
}

.tarjeta-plan-home .col-izq {
    flex-basis: 150px;
}


/*-- Footer --*/
footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 3.2rem var(--padding-lateral);
    background: var(--morado-degradado);
    color: var(--blanco);
    gap: 3.2rem;
}

footer ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 3.6rem;
    justify-content: center;
    font-family: 'Fira Sans', sans-serif;
}

footer ul li a {
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
    padding: 0.8rem;
    transition: border 0.1s ease-in-out;
}

footer ul li a:hover {
    border-bottom: 3px solid var(--blanco);
}

.nav-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.8rem;
}

.nav-footer a {
    flex-basis: 0;
    flex-grow: 1;
    text-decoration: none;
    color: var(--blanco);
    padding: 0.8rem;
    border-radius: 5px;
    transition: background 0.15s ease-in-out;
}

.nav-footer a:hover,
.nav-footer a:focus {
    background-color: #ffffff26;
}

.copyright {
    font-weight: bold;
}


/*--- ANIMACIONES ----*/
@keyframes resaltadoCTA {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes flechaCTA {
    from {
        transform: rotate(-186deg);
    }

    to {
        transform: rotate(-220deg);
    }
}

/*--- MEDIA QUERIES ---*/
/* Query para cambiar en móvil automáticamente todas las medidas en rem */
@media (max-width:450px) or (max-height:450) {

    html {
        font-size: 7px;
    }

    .redes-sociales {
        display: none;
    }



}